.header__logo {
  max-width: 142px;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  max-height: 33px;
}

@media screen and (max-width: 880px) {
  .header__logo {
    margin-left: 27px;
    margin-top: 28px;
  }
}
