.popup__edit-form-line {
  width: 358px;
  margin-top: 13px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.2;
  border: 1px solid #000000;
}

@media screen and (max-width: 768px) {
  .popup__edit-form-line {
    max-width: 238px;

  }
}
