.popup__edit-name {
  margin-top: 30px;
  width: 358px;
  font-family: 'Inter', 'Arial', sans-serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: none;
  outline: none;
}

@media screen and (max-width: 768px) {
  .popup__edit-name {
    max-width: 232px;
    margin-left: auto;
    margin-right: auto;
  }
}
