.popup__edit-name {
  margin-top: 30px;
  width: 358px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: none;
  outline: none;
}
